---
import Icon from './Icon.astro';
import type { iconPaths } from './IconPaths';

const currentYear = new Date().getFullYear();

const socialLinks: { label: string; href: string; icon: keyof typeof iconPaths }[] = [
	{ label: 'LinkedIn', href: 'https://linkedin.com/in/isaacdcesares', icon: 'linkedin-logo' },
	{ label: 'Twitter', href: 'https://twitter.com/idcesares', icon: 'twitter-logo' },
	{ label: 'GitHub', href: 'https://github.com/idcesares', icon: 'github-logo' },
	{ label: 'YouTube', href: 'https://www.youtube.com/@idcesares/', icon: 'youtube-logo' },
];
---

<footer>
	<div class="group">
		<p>
			Desenvolvido por <a href="https://github.com/idcesares">@idcesares</a> usando <a href="https://astro.build/">Astro</a>
			<Icon icon="rocket-launch" size="1.2em" />
		</p>
		<p>&copy; {currentYear} Isaac D'Césares</p>
	</div>
	<div class="footer-links">
		<a href="/deals" class="text-link">Ofertas</a>
		<div class="socials">
			{
				socialLinks.map(({ href, icon, label }) => (
					<a href={href} target="_blank" class="social" aria-label={label}>
						<Icon icon={icon} />
					</a>
				))
			}
		</div>
	</div>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: var(--space-12);
		margin-top: auto;
		padding: var(--space-12) var(--space-8) var(--space-12);
		text-align: center;
		color: var(--color-text-tertiary);
		font-size: var(--text-small);
		border-top: 1px solid var(--color-border-default);
		background: color-mix(in oklab, var(--color-bg-primary) 90%, transparent);
		backdrop-filter: blur(var(--space-2));
	}

	footer a {
		color: var(--color-text-tertiary);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--transition-default);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: var(--space-2);
	}

	.footer-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space-4);
	}

	.text-link {
		color: var(--color-text-tertiary);
	}

	.socials {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--space-2);
		flex-wrap: wrap;
	}

	.social {
		display: flex;
		padding: var(--space-1);
		font-size: var(--text-h3);
		color: var(--color-text-tertiary);
		min-height: 44px;
		min-width: 44px;
		align-items: center;
		justify-content: center;
		transition: color var(--transition-default);
	}

	.social:hover,
	.social:focus {
		color: var(--color-teal);
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: var(--space-10) var(--space-20);
		}

		.group {
			flex-direction: row;
			gap: var(--space-4);
			flex-wrap: wrap;
		}

		.footer-links {
			flex-direction: row;
			align-items: center;
			gap: var(--space-6);
		}

		.socials {
			justify-content: flex-end;
			gap: var(--space-2);
		}
	}
</style>
