<div class="pill"><slot /></div>

<style>
	.pill {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: var(--accent-dark);
		border: 1px solid color-mix(in oklab, var(--accent-regular) 60%, transparent);
		background-color: color-mix(in oklab, var(--accent-regular) 18%, var(--gray-999));
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
	}
</style>
